@if (isVisible) {
  <div class="dialog-backdrop">
    <dialog class="confirm-dialog" [appModalFocus]="title || '確認操作'" (modalEscape)="onCancel()">
      @if (title) {
        <header class="dialog-header">
          <h3>{{ title }}</h3>
        </header>
      }
      <main class="dialog-content">
        <pre>{{ message }}</pre>
      </main>

      @if (hasCustomFooter) {
        <ng-content select="[footer]"></ng-content>
      } @else {
        <footer class="dialog-footer">
          <button [ngClass]="confirmClass" (click)="onConfirm()">{{ confirmText }}</button>
          <button autofocus [ngClass]="cancelClass" (click)="onCancel()">{{ cancelText }}</button>
        </footer>
      }
    </dialog>
  </div>
}
